nodejs/soapKT/service.wsdl

<definitions name = "Service"
            xmlns = "http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap = "http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
    xmnls:tns = "https://www.cbr.ru/DailyInfoWebServ/DailyInfo.asmx?WSDL">
    <message name="getValutesRequest">
        <part/>
    </message>
    <message name="getValutesResponse">
        <part name="response" type="xsd:string"/>
    </message>
    <message name="getValuteRequest">
        <part name="FromDate" type="s:string"/>
        <part name="ToDate" type="s:string"/>
        <part name="code" type="s:string"/>
    </message>
    <message name="getValuteResponse">
        <part name="response" type="xsd:string"/>
    </message>
    <portType name="ServicePort">
        <operation name="GetValutes">
            <input message="tns:getValutesRequest"/>
            <output message="tns:getValutesResponse"/>
        </operation>
        <operation name="GetValute">
            <input message="tns:getValuteRequest"/>
            <output message="tns:getValuteResponse"/>
        </operation>
    </portType>
    <binding name = "ServiceFuncBindings" type="tns:ServicePort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetValutes">
            <input>
                <body use="literal"/>
            </input>
            <output>
                <body use="literal"/>
            </output>
        </operation>
        <operation name="GetValute">
            <input>
                <body use="literal"/>
            </input>
            <output>
                <body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="Service">
        <port binding="ServiceFuncBindings" name="Port">
            <soap:address location = "http://localhost:8000/cbrservice" />
        </port>
    </service>
</definitions>